<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/home" class="logo">InnoClinic</a>
  </div>
  
  <div class="navbar-menu">
    
    @if (isLoggedIn) {
      <a routerLink="/doctors" class="nav-link" routerLinkActive="active">Врачи</a>
      <a routerLink="/profile" class="nav-link" routerLinkActive="active">Мой профиль</a>
      <button (click)="logout()" class="btn btn-outline">Выйти</button>
    } @else {
      <button (click)="login()" class="btn btn-primary">Войти</button>
    }
  </div>
</nav>